
#register_employee_form
{
  width: 500px;
  height:450px;
  padding:20px;
  border:1px solid black;
  background:#C0C0C0;
  margin-top:2%;
}

#register_employee_form:hover
{
  width:510px;
  height:460px;
  background:#CCC;
}

td
{
  padding:10px;
}
